<div id="{{ data._id }}" class="comment">
	<a href="{{ data.url }}" class="avatar-wrapper">
		<img src="https://www.gravatar.com/avatar/{{ data.email }}?s=48&r=r&d=identicon" alt="{{ data.name }}" class="avatar">
	</a>
	<div class="comment-box">
		<h5 class="name"><a href="{{ data.url }}">{{ data.name }}</a></h5>
		<a class="published" href="{{ page.url | relative_url }}/#{{ data._id }}">
			<time datetime="{{ data.date | date: "%Y-%m-%dT%H:%M:%S" }}" >{{ data.date | date: "%Y %B %d, %H:%M" }}</time>
		</a>
		<p class="message">{{ data.message | escape | markdownify }}</p>
		<input type="checkbox" name="new-comment" class="new-comment" >
		<label for="new-comment" class="new-comment-label" >Reply to {{ data.name }}</label>
		<div class="new-comment-spacer"></div>
		{%- assign cid=data._id -%}
		{%- include reply-form.html cid=cid -%}
		{%- assign comments = site.data.comments[page.slug] | where: "reply", cid -%}
		{%- assign sorted = comments | sort: "date" -%}
		{%- for data in sorted -%}
			{%- assign comment=data[1] -%}
			{%- include comment.html data=comment -%}
		{%- endfor -%}
	</div>
</div>
