---
---

@import "highlight";


:root {
	--shadow: #21212166;
	--background: #fdfdfd;
	--background-transparent: #fdfdfd66;
	--gradient: #fefefe;
	--border: 4px;
	--color: #212121;
	--head-font: "Lato", sans-serif;
	--head-weight: 700;
	--head-size: 28px;
	--body-font: "Fira Sans Condensed", sans-serif;
	--body-weight: 300;
	--body-size: 20px;
	--mdi-size: 24px;
}


html {
	background:
		linear-gradient(324deg, var(--gradient) 4%,   transparent 4%) -70px 43px,
		linear-gradient( 36deg, var(--gradient) 4%,   transparent 4%) 30px 43px,
		linear-gradient( 72deg, #ffff8d 8.5%, transparent 8.5%) 30px 43px,
		linear-gradient(288deg, #ffff8d 8.5%, transparent 8.5%) -70px 43px,
		linear-gradient(216deg, #ffff8d 7.5%, transparent 7.5%) -70px 23px,
		linear-gradient(144deg, #ffff8d 7.5%, transparent 7.5%) 30px 23px,

		linear-gradient(324deg, var(--gradient) 4%,   transparent 4%) -20px 93px,
		linear-gradient( 36deg, var(--gradient) 4%,   transparent 4%) 80px 93px,
		linear-gradient( 72deg, #ffff8d 8.5%, transparent 8.5%) 80px 93px,
		linear-gradient(288deg, #ffff8d 8.5%, transparent 8.5%) -20px 93px,
		linear-gradient(216deg, #ffff8d 7.5%, transparent 7.5%) -20px 73px,
		linear-gradient(144deg, #ffff8d 7.5%, transparent 7.5%) 80px 73px;
		background-color: var(--gradient);
		background-size: 100px 100px;
	font-family: var(--body-font);
	font-weight: var(--body-weight);
	font-size: var(--body-size);
	color: var(--color);

	pre {
		font-family: "Fira Code", monospace;
		font-weight: 400;
		font-size: 18px;
		overflow: auto;
	}
}

.header {
	position: relative;

	input {
		display: block;
		width: 32px;
		height: 45px;
		position: fixed;
		top: 5vh;
		left: 0;
		padding: 0;
		margin: 0;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	label {
		position: fixed;
		top: 5vh;
		left: 0;
		display: block;
		font-size: 32px;
		background-color: var(--background);
		padding: 0;
		margin: 0;
		border-top-right-radius: var(--border);
		border-bottom-right-radius: var(--border);
		box-shadow: 0 1px 3px 1px var(--shadow);
		transition: left 0.3s ease;
		z-index: 1;

		i::before {
			transform: rotate(0);
			transition: transform 0.3s ease;
		}
	}

	input:checked, input:checked ~ label {
		left: 20vw;

		i::before {
			transform: rotate(-180deg);
		}
	}

	.nav-wrapper {
		background-color: var(--background);
		position: fixed;
		top: 0;
		left: 0;
		width: 20vw;
		height: 100vh;
		box-shadow: 0 1px 3px 1px var(--shadow);
		z-index: 3;
		left: -100%;
		transition: left 0.3s ease;
	}

	input:checked ~ .nav-wrapper {
		left: 0;
	}

	.spacer {
		width: 0;
		height: 100vh;
		float: left;
		transition: width 0.3s ease;
	}

	input:checked ~ .spacer {
		width: 20vw;
	}

	.link-list {
		list-style: none;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 25px;

		li {
			display: inline-block;
			font-size: var(--mdi-size);
			color: var(--color);
			position: relative;

			a {
				color: inherit;
			}

			a:before {
				content: attr(data-tooltip);
				position:absolute;
				bottom: -32px;
				left: 5px;
				transform:translateX(-50%);
				width: auto;
				padding: 10px;
				border-radius: var(--border);
				background: var(--color);
				color: var(--background);
				text-align:center;
				font-size: 14px;
				font-family: var(--body-font);
				font-weight: var(--body-weight);
				white-space: nowrap;
				display:none;
			}

			a:hover:before {
				display: block;
			}

			.donate {
				color: #D50000;
			}
		}
	}

	.title {
		font-family: var(--head-font);
		font-weight: var(--head-weight);
		font-size: var(--head-size);
		padding: 0 25px;

		a {
			color: var(--color);
		}
	}

	.desc {
		font-family: var(--body-font);
		font-weight: var(--body-weight);
		font-size: var(--body-size);
		padding: 0 25px;
	}

	.avatar-wrapper {
		width: 150px;
		height: 150px;
		padding: 5px;
		border: 1px solid var(--shadow);
		border-radius: 50%;
		margin: 0 auto 25px;

		.avatar {
			width: 150px;
			height: auto;
			border-radius: 50%;
		}
	}

	fieldset {
		height: 64px;
		padding: 0 0 15px 0;
		border: 1px solid var(--shadow);
		border-radius: var(--border);
		margin: 0 25px;

		legend {
			font-family: var(--body-font);
			font-size: 16px;
		}
	}
}

.content {
	.card-wrapper {
		background-color: var(--background-transparent);
		width: 85%;
		max-width: 900px;
		border-radius: var(--border);
		margin: 25px auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		.cards {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: stretch;

			.card {
				flex: 1 0 25%;
				background-color: var(--background);
				padding: 15px;
				border-radius: var(--border);
				box-shadow: 1px 1px 3px 1px var(--shadow);
				margin: 15px;

				.link {
					font-family: var(--head-font);
					font-size: var(--mdi-size);
					color: var(--color);
				}

				.meta {
					font-family: var(--body-font);
					font-size: 14px;
					color: var(--shadow);
				}

				.excerpt {
					font-family: var(--body-font);
					font-size: 18px;
					color: var(--shadow);
				}
			}
		}

		.paginator {
			width: max-content;
			margin: auto;

			.mdi {
				color: var(--color);
				font-size: var(--mdi-size);
				vertical-align: middle;
			}

			.indicator {
				font-family: var(--body-font);
				color: var(--shadow);
				font-size: 16px;
				vertical-align: middle;
			}
		}

		.rss {
			width: max-content;
			margin: auto;

			a {
				font-size: 16px;
				color: var(--shadow);
				vertical-align: middle;

				.mdi {
					font-size: var(--mdi-size);
					vertical-align: middle;
				}
			}
		}
	}

	.article-wrapper {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;

		.article {
			background-color: var(--background);
			width: 85%;
			max-width: 900px;
			padding: 0 50px;
			border-radius: var(--border);
			margin: 25px auto 65px;

			.article-header {
				font-family: var(--head-font);
				font-size: var(--mdi-size);
				color: var(--color);

				.external-publish {
					padding-left: 10px;
					text-decoration: none;
					position: relative;

					&::before {
						content: attr(data-tooltip);
						position:absolute;
						bottom: -32px;
						left: 5px;
						transform:translateX(-50%);
						width: auto;
						padding: 10px;
						border-radius: var(--border);
						background: var(--color);
						color: var(--background);
						text-align:center;
						font-size: 14px;
						font-family: var(--body-font);
						font-weight: var(--body-weight);
						white-space: nowrap;
						display:none;
					}

					&:hover::before {
						display: block;
					}

					svg {
						width: 24px;
						height: 24px;
						vertical-align: middle;
						fill: var(--color);
					}

					img {
						width: 24px;
						height: 24px;
						vertical-align: middle;
					}

					.mdi {
						font-size: 24px;
						vertical-align: middle;
						color: var(--color);
					}
				}
			}

			.article-meta {
				.published {
					font-family: var(--body-font);
					font-size: 14px;
					color: var(--shadow);
				}

				.author {
					font-size: 18px;
					color: var(--shadow);
				}
			}

			.article-content {
				font-size: 20px;
				color: var(--color);

				img {
					width: 100%;
					padding: 15px 25px;
					box-sizing: border-box;
				}
			}
		}
	}

	.comments {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
		background-color: var(--background-transparent);

		.new-wrapper {
			width: 80%;

			.new-comment {
				display: block;
				width: 250px;
				height: 1rem;
				position: absolute;
				cursor: pointer;
				opacity: 0;
				z-index: 2;

				&-label {
					display: block;
					width: 250px;
					height: 1rem;
					color: var(--shadow);
					text-decoration: underline;
					position: absolute;
				}

				&-spacer {
					width: 250px;
					height: 1.3rem;
					margin-bottom: 20px;
				}
			}

			.new-form {
				width: 80%;
				height: 0;
				padding: 25px;
				box-sizing: border-box;
				opacity: 0;
				overflow: hidden;
				transition: height 0.3s ease, opacity 0.3s ease;

				label {
					display: inline-block;
					width: 30%;
					margin-bottom: 15px;
				}

				input, textarea {
					font-family: inherit;
					font-size: 18px;
					display: inline-block;
					width: 65%;
					margin-bottom: 15px;
				}

				button {
					background-color: var(--background);
					padding: 10px 15px;
					border: none;
					border-radius: 4px;
					box-shadow: 1px 1px 3px 1px var(--shadow);
					cursor: pointer;
				}
			}

			.new-comment:checked ~ .new-form {
				height: max-content;
				opacity: 1;
			}

			.comment-list {
				.comment {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					align-items: flex-start;
					width: 100%;

					.avatar-wrapper {
						display: block;
						width: 48px;
						height: 48px;
						padding: 3px;
						border: 1px solid var(--shadow);
						border-radius: 50%;
						margin-left: 25px;

						.avatar {
							border-radius: 50%;
						}
					}

					.comment-box {
						background-color: var(--background);
						width: 80%;
						padding: 10px 15px;
						border-radius: var(--border);
						margin: 0 25px 25px 25px;
						box-sizing: border-box;
						box-shadow: 1px 1px 3px 1px var(--shadow);
						position: relative;

						.comment-box {
							width: calc(80% - 50px);
						}

						.name {
							display: inline-block;
							font-family: var(--head-font);
							font-size: 16px;
							color: var(--color);
							margin: 0;
							margin-bottom: 10px;
							vertical-align: middle;
						}

						.published {
							display: inline-block;
							font-size: 14px;
							color: var(--shadow);
							margin-bottom: 10px;
							vertical-align: middle;
						}

						.message {
							font-size: 18px;
							margin: 0;
							margin-bottom: 10px;
						}

						.new-comment-label {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.header {
		input:checked, input:checked ~ label {
			left: 85vw;
		}

		.nav-wrapper {
			width: 85vw;
		}

		input:checked ~ .spacer {
			width: 0;
		}
	}

	.content {
		.card-wrapper {
			width: 100%;
			margin: 0;

			.cards {
				.card {
					margin: 15px 5px;
				}
			}
		}

		.article-wrapper {
			align-items: stretch;
			.article {
				width: 100%;
				padding: 25px 15px;
				box-sizing: border-box;
				margin: 0;
			}

			.comments {
				.new-wrapper {
					width: 100%;

					.new-form {
						width: 100%;
					}

					.comment-list {
						.comment {
							.avatar-wrapper {
								margin-left: 5px;
							}

							.comment-box {
								width: 80%;
								margin: 0 5px 5px 5px;

								.comment-box {
									width: calc(80% - 10px);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.header {
		input:checked, input:checked ~ label {
			left: 85vw;
		}

		.nav-wrapper {
			width: 85vw;
		}

		input:checked ~ .spacer {
			width: 0;
		}
	}
}
