html {
	height: 100% !important;
	background-color: #212121;
}

body {
	height: 100% !important;
	overflow: hidden !important;
}

#__next {
	height: 100% !important;
	display: flex !important;
}

div[id^=footnote] {
	order: 11000;
}

#via, #tag {
	order: 13000;
}
